{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css">
<style>
    .indicatorblock {
        width: 60px;
        padding: 5px;
        display: inline;
    }
    
    .indicatorblock li {
        display: inline;
    }

    .by_indicator td {
        padding: 3px;
    } 

    .by_indicator tr {
        border-bottom: dotted 1px #898989;
    } 

    p#country_indicators a {
        margin-right: 5px;
        padding-right: 5px;
        border-right: solid thin white;
    }

    .language {
        font-size: 11px;
        padding-left: 4px;
        padding-right: 4px;
    }
</style>
{% endblock head %}

{% block body %}

<div id="doc4" class="yui-t7"> 
    <div id="hd"> 
        <div class="yui-u" style="width:100% background-color: white"> 
        <img src="{{ MEDIA_URL}}/images/logo.png"/>
        </div>
    </div> 
    <div id="bd"> 
        <div id="yui-main"> 
            <div class="yui-b"> 
                <div class="yui-gb columnfix"> 
                    <div class="yui-u first blockcol"> 
                        <h2>Partner Data by Agency</h2> 
                        <p>
                            {% for agency in agencies %}
                            <div class="acblock">
                            <h3>{{ agency.agency }}</h3>
                            <ul>
                                <li>
                                    <a href="{% url agencygraphs agency.agency "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/><span class="language">(En)</span></a>
                                    <a href="{% url agencygraphs agency.agency "French" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/><span class="language">(Fr)</span></a>
                                    <a href="{% url agency_overall_indicators_graphs agency.id %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/><span class="language">(All Indicators)</span></a>
                                </li> 
                                <li><a href="{% url agency_table_by_agency agency.id "English" %}">Table</a></li>
                            </ul>
                            </div>
                            {% endfor %}
                        </p> 
                    </div> 
                    <div class="yui-u blockcol"> 
                        <h2>Partner Data by Country</h2>
                        <p>
                            {% for country in countries %}
                            <div class="acblock">
                            <h3>{{ country.country }}</h3>
                            <ul>
                                <li>
                                    <a href="{% url countrygraphs country.country "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/><span class="language">(En)</span></a>
                                    <a href="{% url countrygraphs country.country "French" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/><span class="language">(Fr)</span></a>
                                </li>
                                <li><a href="{% url agency_table_by_country country.id "English" %}">Table</a></li>
                            </ul>
                            </div>
                            {% endfor %}
                        </p>
                    </div> 
                    <div class="yui-u blockcol">
                        <div>
                        <h2>Partner Data by Indicator</h2>
                        <p style="text-align:left">
                            <table class="by_indicator">
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "1DP" "English" %}">1DP</a></span></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "2DPa" "English" %}">2DPa</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "2DPa" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "2DPa" "English" %}?exclusions=true" title="with exclusions"><img src="{{ MEDIA_URL }}images/graph_icon_e.png"/></a></span></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "2DPb" "English" %}">2DPb</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "2DPb" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "2DPb" "English" %}?exclusions=true" title="with exclusions"><img src="{{ MEDIA_URL }}images/graph_icon_e.png"/></a></span></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "2DPc" "English" %}">2DPc</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "2DPc" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "3DP" "English" %}">3DP</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "3DP" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "3DP" "English" %}?exclusions=true" title="with exclusions"><img src="{{ MEDIA_URL }}images/graph_icon_e.png"/></a></span></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "4DP" "English" %}">4DP</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "4DP" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "5DPa" "English" %}">5DPa</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "5DPa" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "5DPa" "English" %}?exclusions=true" title="with exclusions"><img src="{{ MEDIA_URL }}images/graph_icon_e.png"/></a></span></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "5DPb" "English" %}">5DPb</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "5DPb" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "5DPb" "English" %}?exclusions=true" title="with exclusions"><img src="{{ MEDIA_URL }}images/graph_icon_e.png"/></a></span></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "5DPc" "English" %}">5DPc</a></td>
                                    <td><a href="{% url agency_graphs_by_indicator "5DPc" "English" %}"><img src="{{ MEDIA_URL }}images/graph_icon.png"/></a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "6DP" "English" %}">6DP</a></span></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "7DP" "English" %}">7DP</a></span></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="indicatorblock"><a href="{% url agency_table_by_indicator "8DP" "English" %}">8DP</a></span></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </p>
                        </div>
                    </div>
                </div> <!-- end row 1 -->
                <br/>
                <div class="yui-g columnfix"> 
                    <div class="yui-u first blockrow">
                        <h2>Aggregated Agency Tables</h2>
                        <p>
                            <ul>
                                <li><a href="{% url agency_ratings "English" %}">Aggregated Ratings</a></li>
                                <li><a href="{% url agency_ratings2 "English" %}">Aggregated Ratings with data</a></li>
                                <li><a href="{% url agency_alternative_baselines %}">Alternative Baselines</a></li>
                                <li><a href="{% url agency_response_breakdown %}">Response Breakdown</a></li>
                                <li>Volume of aid
                                    (<a href="{% url agency_volume_of_aid "2DPa" %}">2DPa</a>,
                                    <a href="{% url agency_volume_of_aid "4DP" %}">4DP</a>)
                                </li>
                                <li><a href="{% url two_by_two_analysis %}">2x2 Analysis Tables</a></li>
                                <li><a href="{% url fragile_states %}">Fragile States Tables</a></li>
                                <li><a href="{% url volumes_by_country %}">Volume of Aid</a></li>
                                <li><a href="{% url dfid_2dpa %}">DFID Table</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="yui-u blockrow">
                        <h2>Additional Graphs</h2>
                        <p>
                            <ul>
                                <li><a href="{% url highlevelgraphs "English" %}">High-level Graphs</a> (<a href="{% url highlevelgraphs "French" %}">French</a>)</li>
                                <li><a href="{% url projectiongraphs "English" %}">Projection Graphs</a> (<a href="{% url projectiongraphs "French" %}">French</a>)</li>
                            </ul>
                        </p>
                    </div>
                </div> <!-- end row 2 -->
                <br/>
                <div class="yui-b"> 
                    <div class="yui-u blockrow">
                        <h2>Country Data</h2>
                        <p>
                            <ul>
                                <li><a href="{% url country_table "English" %}">Country Table</a></li>
                                <li><a href="{% url country_matrix "English" %}">Country Table without Figures</a></li>
                                <li><a href="{% url hss_graphs %}">HSS Graphs</a></li>
                                <li><a href="{% url country_response_breakdown %}">Response Breakdown</a></li>
                                <li><a href="{% url top5_countries %}">Top5 Countries</a></li>
                                <li><a href="{% url early_signatories %}">Early Signatories</a></li>
                                <li><a href="{% url health_budget_graphs %}">Health Budgets</a></li>
                                <li><a href="{% url budget_disbursement_graphs %}">Budget Disbursements</a></li>
                            </ul>
                        </p>
                        <h2>Graphs by Indicator</h2>
                        <p id="country_indicators">
                        <a href="{% url countries_by_indicator_graphs "1DP" %}">1DP</a>
                        <a href="{% url countries_by_indicator_graphs "2DPa" %}">2DPa</a>
                        <a href="{% url countries_by_indicator_graphs "2DPb" %}">2DPb</a>
                        <a href="{% url countries_by_indicator_graphs "2DPc" %}">2DPc</a>
                        <a href="{% url countries_by_indicator_graphs "3DP" %}">3DP</a>
                        <a href="{% url countries_by_indicator_graphs "4DP" %}">4DP</a>
                        <a href="{% url countries_by_indicator_graphs "5DPa" %}">5DPa</a>
                        <a href="{% url countries_by_indicator_graphs "5DPb" %}">5DPb</a>
                        <a href="{% url countries_by_indicator_graphs "5DPc" %}">5DPc</a>
                        <a href="{% url countries_by_indicator_graphs "6DP" %}">6DP</a>
                        <a href="{% url countries_by_indicator_graphs "7DP" %}">7DP</a>
                        <a href="{% url countries_by_indicator_graphs "8DP" %}">8DP</a>
                        </p>
                    </div>
                </div> <!-- end row 2 -->
                <div class="yui-b"> 
                    <div class="yui-gb columnfix"> 
                        <div class="yui-u first">
                            <h2>Agency Forms</h2>
                            <p>
                                <ol style="padding-left:5px">
                                    <li><a href="{% url admin:submissions_agency_changelist %}">Edit Agency Display Name</a></li>
                                    <li><a href="{% url admin:submissions_agencyprofile_changelist %}">Agency Profile</a></li>
                                    <li><a href="{% url dp_summary_edit %}">DP Summary Form</a></li>
                                    <li><a href="{% url dp_ratings_edit %}">DP Ratings Form</a></li>
                                </ol>
                            </p>
                        </div>
                        <div class="yui-u">
                            <h2>Country Forms</h2>
                            <p>
                                <ol style="padding-left:5px">
                                    <li><a href="{% url gov_ratings_edit %}">Gov Ratings Form</a></li>
                                    <li><a href="{% url admin:submissions_mdgdata_changelist %}">MDG Data</a></li>
                                </ol>
                            </p>
                        </div>
                        <div class="yui-u"></div>
                    </div>
                </div> <!-- end row 2 -->
                <div class="yui-b"> 
                    <div class="yui-u blockrow">
                        <h2>Additional Views</h2>
                        <p>
                            <ol>
                                <li>Agency Export
                                    <ul style="padding-left: 10px">
                                        <li><a href="{% url agency_export "English" %}">English</a></li>
                                        <li><a href="{% url agency_export "French" %}">French</a></li>
                                    </ul>
                                </li>
                                <li>Country Export
                                    <ul style="padding-left: 10px">
                                        <li><a href="{% url country_export "English" %}">English</a></li>
                                        <li><a href="{% url country_export "French" %}">French</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url agency_questionnaire %}">Raw DP Questions</a>(<a href="{% url agency_questionnaire_2009 %}">2009 data</a>)</li>
                                <li><a href="{% url agency_questionnaire_cols %}">Raw DP Questions (Cols)</a>(<a href="{% url agency_questionnaire_cols_2009 %}">2009 data</a>)</li>
                                <li><a href="{% url gov_questionnaire %}">Raw Gov Questions</a>(<a href="{% url gov_questionnaire_2009 %}">2009 data</a>)</li>
                                <li><a href="{% url agency_country_ratings %}">Agency Country Ratings</a></li>
                            </ol>
                        </p>
                    </div>
                </div> <!-- end row 2 -->
                <div class="yui-b"> 
                    <div class="yui-u blockrow">
                        <h2>Administration</h2>
                        <p>
                            <a href="{{ MEDIA_URL }}/ihp-backup.tgz">Download Code and Database Backup</a>
                        </p>
                    </div>
                </div> <!-- end row 2 -->
            </div>
        </div> 
    </div> 
    <div id="ft"> 
        <p></p> 
    </div> 
</div> 
<script src="http://yui.yahooapis.com/2.3.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="{{ MEDIA_URL }}/js/yuigridcolumnfix.js"></script>

{% endblock %}
