{% extends "submissions/graph_base.html" %}

{% block graphdefs %}

<script>

{% for graph in graphs %}
    {{ graph.obj|safe }}
{% endfor %}

</script>
{% endblock %}

{% block body %}
<h1>{{ agency }}</h1>
{% if excluded %}
<p>The following agencies have been excluded from these results:
  <ul>
    {% for agency in excluded %}
    <li>{{ agency }}</li>
    {% endfor %}
  </ul>
</p>
{% endif %}

{% for graph in graphs %}
    <div class="graphblock"><div id="{{ graph.name }}" class="graph"></div></div>
{% endfor %}

{% endblock %}
