{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/graph_utils.js"></script>
{% endblock %}

{% block content %}
<div class="graphblock">
    <div id="container_hb" class="graph"></div>
</div>
<script>

    var build_table = function(json) {
        loadStop();
        countries = json.map(function(x) { return x.country; });

        build_graph({
            base_data : json.map(function(x) { return d3.round(x.data["baseline"], 2); }),
            y2009_data : json.map(function(x) { return d3.round(x.data["2009"], 2); }),
            cur_data : json.map(function(x) { return d3.round(x.data["latest"], 2); }),
            yaxis : '%',
            title : 'Indicator: {{ params.indicator }}',
            container : 'container_hb',
            graph_name : 'chart_hb',
            target : '0',
            target_text : '',
            categories : countries
        
        });
        var tspans = d3.selectAll("tspan")[0][33]
        d3.select(tspans).text("* Target for Nepal is 10%")

    }
    loadStart();


    var json = '{% url json_country_by_indicator params.indicator %}';

    d3.json(json, function(e){
        build_table(e);
    });
</script>
{% endblock %}
