{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/graph_utils.js"></script>
{% endblock %}

{% block content %}
<div class="graphblock">
    <div id="container_phc" class="graph"></div>
    <div id="container_hw" class="graph"></div>
    <div id="container_funds" class="graph"></div>
</div>
<script>

    var build_table = function(json) {
        loadStop();
        countries = json.map(function(x) { return x.country; });

        build_graph({
            base_data : json.map(function(x) { return d3.round(x.phc_clincs["base_val"], 2); }),
            y2009_data : json.map(function(x) { return d3.round(x.phc_clincs["2009_val"], 2); }),
            cur_data : json.map(function(x) { return d3.round(x.phc_clincs["cur_val"], 2); }),
            yaxis : 'outpatient dept visits per 10,000 population',
            title : 'Outpatient utilisation',
            container : 'container_phc',
            categories : countries,
            graph_name : 'chart_phc'
        
        });

        build_graph({
            base_data : json.map(function(x) { return d3.round(x.health_workers["base_val"], 2); }),
            y2009_data : json.map(function(x) { return d3.round(x.health_workers["2009_val"], 2); }),
            cur_data : json.map(function(x) { return d3.round(x.health_workers["cur_val"], 2); }),
            yaxis : 'Skilled medical personnel per 10,000 population',
            title : 'Availability of Health Workers',
            container : 'container_hw',
            categories : countries,
            graph_name : 'chart_hw'
        
        });

        build_graph({
            base_data : json.map(function(x) { return d3.round(x.health_systems["base_val"], 2); }),
            y2009_data : json.map(function(x) { return d3.round(x.health_systems["2009_val"], 2); }),
            cur_data : json.map(function(x) { return d3.round(x.health_systems["cur_val"], 2); }),
            yaxis : 'USD spent on health workforce increasing',
            title : 'Funds for health workforce',
            container : 'container_funds',
            categories : countries,
            graph_name : 'chart_funds'
        
        });

    }
    $('tspan').last().text('Source: DP data returns');

    var json = '{% url json_hss %}';

    d3.json(json, function(e){
        build_table(e);
    });
    loadStart();
</script>
{% endblock %}
