{% block head %}
    {{ block.super }}
    <style>
        #top5_countries {
            margin: 50px;
        }
        table {
            margin-bottom: 10px;
        }

        table td {
            padding: 8px;
        }

        td, tr, th {
            border: solid thin black;
            text-align: center;
        }

        td.data, th.data {
            width: 300px;
            height: 30px;
        }

        
    </style>
{% endblock %}

{% block content %}
<div id="top5_countries">
    <div class="row" id="top3">
        <h1>Top 3</h1>
    </div>
    <div class="row" id="next2">
        <h1>Next 2</h1>
    </div>
    <div class="row" id="the_rest">
        <h1>The Rest</h1>
    </div>
</div>
<script>

    fmt_val = function(v) {
        if (v == "__NA__")
            return "N/A"
        return d3.round(v, 2);
    }

    build_table = function(js, group) {
        var table = d3.select("#" + group)
            .append("table");

        var header_row = table.append("tr");
        header_row
            .append("th")
            .attr("colspan", "4")
            .text("Summary")

        header_row
            .selectAll("th.country")
            .data(js[group][0].by_country)
            .enter()
            .append("th")
                .attr("colspan", 3)
                .text(function(d) { return d.name; });

        var header_row2 = table.append("tr");
        header_row2
            .selectAll("th")
            .data(["", "2007", "2009", "2011"])
            .enter()
            .append("th")
            .text(function(d) { return d; })

        for (c in js[group][0].by_country) {
            header_row2
                .selectAll("th.country")
                .data(["2007", "2009", "2011"])
                .enter()
                .append("th")
                    .text(function(d) { return d; });
        }

        var data_rows = table.selectAll("tr.datarow")
            .data(js[group])
            .enter()
            .append("tr");

        data_rows
            .append("th")
            .text(function(d) { return d.indicator; });

        data_rows
            .each(function(d, i) {
                d3.select(this)
                    .selectAll("td.summary")
                    .data(["2007", "2009", "2011"])
                    .enter()
                    .append("td")
                        .text(function(d2, i2) {
                           return fmt_val(d.averages[d2]); 
                        });

                for (c in d["by_country"]) {
                    console.log(c);
                    d3.select(this).append("td").text(fmt_val(d["by_country"][c]["2007"]));
                    d3.select(this).append("td").text(fmt_val(d["by_country"][c]["2009"]));
                    d3.select(this).append("td").text(fmt_val(d["by_country"][c]["2011"]));
                }
            });
            
    var json = '{% url json_top5_countries %}';
    d3.json(json, function(e){
        build_table(e, "top3");
        build_table(e, "next2");
        build_table(e, "the_rest");
    });
</script>
{% endblock %}
