{% block head %}
    {{ block.super }}
    <style>
        td:first-child {
            text-align: left;
        }

        #twobytwo {
            margin: 20px 100px;
        }

        #twobytwo th {
            font-weight: bold;
        }

        .twobytwo td, .twobytwo th, .twobytwo tr {
            padding: 4px;
            border: solid thin black;
        }

        .twobytwo, #countrybox {
            border: solid thin black;
            float: left;
            margin: 10px;
        }

        #countrybox {
            padding: 5px;
            width: 200px;
            text-align: left;
            height: 200px;
        }

        #countrybox h2 {
            text-decoration: underline;
            font-weight: bold;
        }

        #countrybox li {
            text-align: left;
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
            text-indent: -1em;
        }

    </style>
{% endblock %}

{% block content %}
<div id="twobytwo">
    <div class="row" id="heading"><p class="span12">Two-by-two analysis</p></div>
    <div class="row" id="tables"></div>
</div>
<script>

    fmt_countries = function(countries) {
        s = "<ul>"
        for (c in countries) {
            s += "<li>" + countries[c] + "</li>";
        }
        
        s += "</ul>"
        return s
    }

    var build_table = function(json) {
        var container = d3.select("#twobytwo");

        var tablerow = container.select("#tables")
        var table = tablerow.selectAll("div").data(json.indicators)
            .enter()
            .append("div")
            .attr("class", "twobytwo span3")
            .append("table");

        var header1 = table.append("tr");
        var header2 = table.append("tr");
        var strongrow = table.append("tr");
        var weakrow = table.append("tr");

        header1.append("th")
            .attr("colspan", "3")
            .text(function(v) {
                return v.indicator;
            });

        header2.append("th").text("PFM")
        header2.append("th").text("All indicators").attr("class", "hdr_allindicators")
        header2.append("th").text("Not all indicators").attr("class", "hdr_notallindicators")

        $(".hdr_allindicators").popover({
            title : "All indicators",
            content : "The following indicators are included:<br>1G, 2Ga, 6G and 7G"
        });

        $(".hdr_notallindicators").popover({
            title : "Not all indicators",
            content : "Three or fewer of the following indicators' targets have been met:<br>1G, 2Ga, 6G, 7G"
        });

        strongrow.append("th").text("3.5+")
        strongrow.append("td").text(function(v) {
            return d3.round(v.allstrong.value, 2) + " (" + v.allstrong.num_countries + ")";
        })
        .each(function(v, i) {
            $(this).popover({
                title : "Included countries",
                content : fmt_countries(v.allstrong.countries)
            });
        });
        
        strongrow.append("td").text(function(v) {
            return d3.round(v.notallstrong.value, 2) + " (" + v.notallstrong.num_countries + ")";
        })
        .each(function(v, i) {
            $(this).popover({
                title : "Included countries",
                content : fmt_countries(v.notallstrong.countries)
            });
        });

        weakrow.append("th").text("< 3.5");
        weakrow.append("td").text(function(v) {
            return d3.round(v.allweak.value, 2) + " (" + v.allweak.num_countries + ")";
        })
        .each(function(v, i) {
            $(this).popover({
                title : "Included countries",
                content : fmt_countries(v.allweak.countries)
            });
        });

        weakrow.append("td").text(function(v) {
            return d3.round(v.notallweak.value, 2) + " (" + v.notallweak.num_countries + ")";
        })
        .each(function(v, i) {
            $(this).popover({
                title : "Included countries",
                content : fmt_countries(v.notallweak.countries)
            });
        });
    }

    var json = '{% url json_two_by_two_analysis %}';
    d3.json(json, function(e){
        build_table(e);
    });
</script>
{% endblock %}
